@use '../mixins/breakpoints';
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

[class*='column'] {
  padding: 0 1rem;
  box-sizing: border-box;
  grid-column: span 12;
}

@for $i from 1 through 12 {
  .column {
    &--#{$i} {
      grid-column: span $i;
    }
  }

  .order {
    &--#{$i} {
      order: $i;
    }
  }
}

@each $key, $value in breakpoints.$breakpoint-map {
  @include breakpoints.breakpoint-min($key) {
    @for $i from 1 through 12 {
      .order {
        &__#{$key} {
          &--#{$i} {
            order: $i;
          }
        }
      }

      .column {
        &__#{$key} {
          &--#{$i} {
            grid-column: span $i;
          }
        }
      }
    }
  }
}
