@use '../variables';
.form {
  &--auth {
    h1 {
      line-height: 1;
      margin-block-start: 0;
      padding: 0;
    }
    background: #fefefe;
    box-shadow: variables.$drop-shadow;
    padding: 3rem 3rem;
    width: 100%;
    max-width: 700px;
    margin: 1rem auto;
    border-radius: 10px;
    input {
      width: 100%;
    }
  }
}
