@use '../mixins';
@use '../variables';
nav {
  display: flex;
  justify-content: space-between;
  background: variables.$background-light;
  color: variables.$text-color-dark;
  padding: 0.5rem 2%;
  align-items: center;
  box-shadow: 0 4px 8px variables.$box-shadow-color;
  flex-direction: column;
  width: 100%;
  @include mixins.breakpoint-min(md) {
    flex-direction: row;
    justify-content: space-between;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mixins.breakpoint-min(md) {
      flex-direction: row;
    }
  }
  li {
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
  }
  a {
    color: variables.$text-color-dark;
    text-decoration: none;
    font-size: 1rem;
    line-height: 0;
    padding: 0.6125rem 0.75rem;
    transition:
      background-color 0.3s,
      color 0.3s;
    &:hover,
    &:focus {
      background-color: variables.$secondary-color;
      border-radius: 5px;
    }
  }
  .logo {
    height: 75px;
    padding: 1rem;
    img {
      height: 100%;
      width: auto;
    }
  }
}
