@use '../mixins';
@use '../variables';
nav {
  display: flex;
  justify-content: space-between;
  background: variables.$colors-background-light;
  color: variables.$colors-text-dark;
  padding: 0.5rem 2%;
  align-items: center;
  box-shadow: 0 4px 8px variables.$colors-box-shadow;
  flex-direction: column;
  width: 100%;
  @include mixins.breakpoint-min(md) {
    flex-direction: row;
    justify-content: space-between;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mixins.breakpoint-min(md) {
      flex-direction: row;
    }
  }
  li {
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
  }
  a {
    border-radius: 5px;
    color: variables.$colors-text-dark;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.6125rem 0.75rem;
    transition:
      background-color variables.$t-ease-in-out,
      color variables.$t-ease-in-out;
    &:hover,
    &:focus {
      background-color: variables.$colors-secondary;
    }
  }
  .logo {
    height: 75px;
    padding: 1rem;
    img {
      height: 100%;
      width: auto;
    }
  }
}
