# .env.example - generated with dotenvx
PROD=""
TIME_TO_LIVE=""
TIME_TO_LIVE_UNIT=""
SESSION_SAME_SITE=""
SESSION_DOMAIN=""
DEV=""
SENDGRID_API_KEY=""
SESSION_SECRET=""
TOKEN_LENGTH=""
VITE_APP_NAME=""
SMTP_HOST=""
SMTP_PORT=""
SMTP_SECURE=""
SMTP_USER=""
SMTP_PASS=""
SMTP_POOL=""
PUBLIC_OPEN_LAYER_KEY=""
