---
import AuthLayout from '@layouts/AuthLayout.astro';
import FormInput from '@components/FormInput.astro';

if (Astro.locals.user) {
  return Astro.redirect('/');
}
---

<AuthLayout title='Sign In'>
  <div class='container'>
    <form method='POST' action='/api/auth/signin' class='form--auth'>
      <h1>Sign In</h1>
      <FormInput type='email' name='email' required={true} label='Email' />
      <FormInput type='password' name='password' required={false} label='Password' />
      <button type='submit' id="submit">Sign In</button>
    </form>
  </div>
</AuthLayout>
