---
import AuthLayout from '@layouts/AuthLayout.astro';
import FormInput from 'src/components/FormInput.astro';

if (Astro.locals.user) {
  return Astro.redirect('/');
}
---

<AuthLayout title='Sign Up'>
  <div class='container'>
    <form method='POST' action='/api/auth/signup' class='form--auth'>
      <h1>Signup</h1>
      <FormInput type='text' name='name' required={true} label='Full Name' />
      <FormInput type='email' name='email' required={true} label='Email' />
      <FormInput type='password' name='password' required={true} label='Password' />
      <FormInput type='password' name='confirm' required={true} label='Confirm Password' />
      <button type='submit' id="submit">Signup</button>
    </form>
  </div>
</AuthLayout>
