---
import Layout from '@layouts/Layout.astro';
---

<Layout title='NourishMap | FAQs'>
  <div class='content-container'>
    <h1>FAQs</h1>
    <h2>Question 1</h2>
    <p>Answer to question 1.</p>
    <h2>Question 2</h2>
    <p>Answer to question 2.</p>
  </div>
</Layout>

<style lang='scss'>
  @use '../styles/variables';
  //TODO: Migrate to global SCSS partials code is duplicated between faqs, privacy, and terms
  .content-container {
    flex: 1;
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    background-color: variables.$colors-background-light;
    border-radius: 10px;
    box-shadow: 0 4px 15px variables.$colors-box-shadow;
    //animation: fadeIn 1.5s ease-in-out;
  }
  h1 {
    font-size: variables.$f-size-xxl;
    margin-bottom: 20px;
  }
  h2 {
    font-size: variables.$f-size-lg;
    margin-top: 20px;
  }
  p {
    line-height: 1.5;
    margin-bottom: 20px;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
