---
import '../styles/global.scss';
import Layout from '../layouts/Layout.astro';

const user = Astro.locals.user;
const isAuth = Boolean(user);
let isVerified = null;
if (user) {
  const { verified } = user;
  isVerified = verified;
}
---

<Layout title='NourishMap | Home'>
  <div id='home'>
    <section class='step grid'>
      <div class='content column__md--6'>
        <h2>Step 1: Create an Account</h2>
        <p>Sign up for an account to start your grocery journey with us</p>
        <div class='buttons'>
          {
            !isAuth && (
              <>
                <button onclick="window.location.href = ('./auth/signin')">Sign In</button>
                <button
                  onclick="window.location.href = ('./auth/signup')"
                  style='background-color: #FFD700; color: #000;'
                >
                  Sign Up
                </button>
              </>
            )
          }
          {
            isAuth && (
              <p>
                <em>Congratulations! You are now signed in.</em>
              </p>
            )
          }
        </div>
      </div>
      <div class='image column__md--6'>
        <img src='/images/market-3466906_1280.jpg?v=2' alt='Create an Account' />
      </div>
    </section>
    <section class='step grid'>
      <div class='content column__md--6 order__md--2'>
        <h2>Step 2: Explore our Products</h2>
        <p>Browse through a wide range of quality groceries</p>
        <div class='search'>
          <input type='text' placeholder='Search Products' />
        </div>
      </div>
      <div class='image column__md--6 order__md--1'>
        <img src='/images/fruits-4728754_1280.jpg?v=2' alt='Explore Products' />
      </div>
    </section>
    <section class='step grid'>
      <div class='content image column__md--6'>
        <h2>Step 3: Visit our Participant Stores</h2>
        <p>Browse through a wide range of quality stores through Orlando</p>
      </div>
      <div class='image column__md--6'>
        <img src='/images/bowl-1844894_1280.jpg?v=2' alt='Visit Stores' />
      </div>
    </section>
  </div>
</Layout>
