$black: #1f271b;
$white: #fbfefb;
$silver: #c0c0c0;
$gray: #5d595f;
$orange: #f68837;
$green: #80c144;

$background-dark: $black;
$background-light: $white;

$primary: $orange;
$secondary: $green;

$text-dark: $black;
$text-light: $white;
$text-accent: $secondary;

$link: $black;
$link-hover: $primary;

$border-light: $silver;
$border-dark: $gray;
$box-shadow: rgba($black, 0.2);
