$black: #1F271B;
$white: #FBFEFB;
$silver: #c0c0c0;
$gray: #5D595F;
$orange: #F68837;
$green: #80C144;

$background-dark: $black;
$background-light: $white;

$primary: $orange;
$secondary: $green;

$text-dark: $black;
$text-light: $white;
$text-accent: $secondary;

$link: $black;
$link-hover: $primary;

$border-light: $silver;
$border-dark: $gray;
$box-shadow: rgba($black, 0.2);
