---
import { Instagram, Facebook, Twitter } from 'lucide-astro';

const year = new Date().getFullYear();
---

<footer class='footer'>
  <div class='footer__content'>
    <div class='footer__links'>
      <a href='/terms'>Terms and Conditions</a>
      <a href='/privacy'>Privacy Policy</a>
      <a href='/faqs'>FAQs</a>
      <a href='/contact'>Contact Us</a>
    </div>
    <div class='footer__social'>
      <a href='https://facebook.com' target='_blank' rel='noopener noreferrer' aria-label='Facebook'>
        <Facebook />
      </a>
      <a href='https://instagram.com' target='_blank' rel='noopener noreferrer' aria-label='Instagram'>
        <Instagram />
      </a>
      <a href='https://twitter.com' target='_blank' rel='noopener noreferrer' aria-label='Twitter'>
        <Twitter />
      </a>
    </div>
  </div>
  <p>
    &copy; {year} NourishMap. All Rights Reserved.
  </p>
</footer>
