---
import '../styles/global.scss';
interface Props {
  title: string;
}
const { title } = Astro.props;
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width' />
  <title>{title}</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <Header />
  <slot />
  <Footer />
</body>
</html>