---
import '../styles/global.scss';
import 'ol/ol.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import VerificationAlert from 'src/components/VerificationAlert.astro';

interface Props {
  title: string;
}
const { title } = Astro.props;

const user = Astro.locals.user;
const isAuth = Boolean(user);
let isVerified = null;
if (user) {
  const { verified } = user;
  isVerified = verified;
}
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>{title}</title>
  </head>
  <body>
    <Header isAuthenticated={isAuth} />
    {!isVerified && isAuth && <VerificationAlert />}
    <slot />
    <Footer />
  </body>
</html>
