---
import '../styles/global.scss';
import 'ol/ol.css';
import Navigation from '@components/Navigation.astro';
import Footer from '@components/Footer.astro';
import VerificationAlert from '@components/VerificationAlert.astro';

interface Props {
  title: string;
}
const { title } = Astro.props;

const user = Astro.locals.user;
const isAuth = Boolean(user);
let isVerified = null;
if (user) {
  const { verified } = user;
  isVerified = verified;
}
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='NourishMap allows you to find the food markets near you and encurage healthy eating habits.'
    />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navigation isAuthenticated={isAuth} />
    {!isVerified && isAuth && <VerificationAlert />}
    <slot />
    <Footer />
  </body>
</html>
