@use '../variables';

* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body {
  font: variables.$f-weight-regular variables.$f-size-sm variables.$f-family-inter;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.debug * {
  outline: solid 1px pink;
}
